.aboutus {
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      rgba($color-blue, 0.7),
      rgba($color-blue, 0.7)
    ),
    url(../img/about-1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start]
    repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];

  &__grid {
    grid-column: center-start / center-end;
    margin: 8rem 3rem;
    border-radius: 4px;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (max-width: $bp-900){
      grid-template-columns: 1fr;
    }

  }

  &__img {
    grid-column: 1 / 2;
   // width: 100%;

    background-image: url(../img/about-2.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 2rem 5rem rgba(#000, 0.5);
    opacity: 0.7;

    /*  figure {
        width: 100%;
        height: 100%;
        position: relative; 
    }

    &-1 {
        width: 50%;
        object-fit: cover;
        display: block;
    }*/
  }

  &__text {
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(2, min-content);

    background-color: rgba($color-red-dark-1, 0.6);

    h2 {
      grid-column: 1/ -1;
      margin-top: 3.8rem;
      padding: 2rem 0;
    }

    section {
      justify-self: start;
      padding: 0 5rem;
      font-size: 1.7rem;
      margin-bottom: 5rem;

      p:not(:last-of-type) {
        margin-bottom: 3rem;
      }

      p:last-of-type {
        color: #fff;
        font-weight: 500;
      }
    }
  }
}
